body {
    margin: 0;
}

nav {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    margin: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.home-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.background-image {
    height: 100vh;
    max-width: 100%;
    display: flex;
}

.homepage-focalpoint h1 {
    color: white;
    margin-top: 1.25em;
    margin-right: 1em;
    display: flex;
    justify-content: right;
}

.homepage-focalpoint h2 {
    color: white;
    margin-right: 1.5em;
    display: flex;
    justify-content: right;
}